.header-container {
  display: flex;
  align-items: center;
  padding: 15px;
}
.header-bg-dark {
  background-color: #424242;
}
.header-bg-light {
  background-color: #ffffff;
}
.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo-image {
  width: 100px;
  height: 40px;
}
.logout-container {
  width: 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logout-button {
  background-color: transparent;
  padding: 6px;
  font-family: roboto;
}
.logout-dark-color {
  color: #ffffff;
  border: 1px solid #ffffff;
}
.logout-light-color {
  color: #3b82f6;
  border: 1px solid #3b82f6;
}
.header-profile-image {
  width: 25px;
  height: 25px;
}
.header-theme-image {
  width: 30px;
  height: 30px;
}
.header-theme-button {
  background-color: transparent;
  border: none;
}
