.login-background-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-bg-dark {
  background-color: #313131;
}
.login-bg-light {
  background-color: #e2e8f0;
}
.login-container {
  width: 27%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  padding: 15px;
}
.login-container-bg-dark {
  background-color: #0f0f0f;
}
.login-container-bg-light {
  background-color: #ffffff;
}
.website-logo-login-image {
  width: 150px;
  height: 50px;
}

.login-form-container {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.label-heading {
  font-size: 12px;
  font-family: roboto;
  font-weight: bold;
}
.label-light-color {
  color: #ffffff;
}
.label-dark-color {
  color: #1e293b;
}

.login-input-element {
  width: 300px;
  height: 35px;
  font-family: roboto;
  font-weight: bold;
  margin-top: 5px;
}
.login-show-password {
  font-size: 13px;
  font-family: roboto;
  font-weight: 800;
}
.show-password-container {
  display: flex;
  align-items: center;
}
