.trending-videos-bg-container {
  display: flex;
}
.trending-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #cccccc;
}
.trending-heading-container {
  display: flex;
  align-items: center;
  font-family: roboto;
}
.trend-heading {
  font-size: 28px;
  margin-left: 25px;
}
.trending-failure-container {
  background-color: #f4f4f4;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: roboto;
}
.trending-failure-image {
  width: 300px;
  height: 300px;
}
.trending-fail-retry-button {
  border: none;
  background-color: #4f46e5;
  padding: 8px;
  border-radius: 6px;
  color: #ffffff;
}
.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
